* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
    background-color: darkgrey;
}


.card {
    background-color: white;
    margin-bottom: 3%;
}
.member-photo {
    width: calc(100% / 3 - 5%);
}
.member-name, .member-role{
    text-align: center;
}